@import  '../../variables/colors.scss';

.TeamAdd {
    padding-top: 2%;
    padding-bottom: 2%;
}

.Container {
    width: 80%;
    min-height: calc(100vh - 256px);
    max-height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    background-color: $grey-dark;
}