@import  '../../variables/colors.scss';

.Tournaments {
    padding-top: 2%;
    padding-bottom: 2%;
}

.Container {
    width: 80%;
    min-height: calc(100vh - 256px);
    max-height: 100%;
    margin-left: 10%;
    margin-right: 10%;
    color: white;
    background-color: $grey-dark;
}

.TableContainer {
    padding-top: 0%;
    padding-bottom: 2%;
    margin-right: 10%;
    margin-left: 10%;
}

.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 2%;
    padding-bottom: 2%;
}

.HeaderLeft {
    margin-left: 10%;
}

.HeaderRight {
    margin-right: 10%;
}

.LinkTypography {
    color: white;
}