.Navbar {
    font-family: 'Teko', sans-serif;
    margin-bottom: 128px;
}

.NavbarLogo {
    height: 48px;
}

.TopNavbarLeftItems {
    margin-left: 10%;
}

.TopNavbarRightItems {
    margin-right: 10%;
}

.NavbarItem {
    margin-right: 10px;
}